services:
  numbat:
    build:
      context: ./
      network: host
    environment:
      - "NUMBAT__AMBER__S3__HOST=${NUMBAT__AMBER__S3__HOST:-localhost}"
      - "NUMBAT__AMBER__S3__PASSWORD=${NUMBAT__AMBER__S3__PASSWORD:-password}"
      - "NUMBAT__AMBER__S3__PORT=${NUMBAT__AMBER__S3__PORT:-10610}"
      - "NUMBAT__AMBER__S3__SECURE=${NUMBAT__AMBER__S3__SECURE:-false}"
      - "NUMBAT__AMBER__S3__USER=${NUMBAT__AMBER__S3__USER:-readwrite}"
      - "NUMBAT__BEAVER__HTTP__HOST=${NUMBAT__BEAVER__HTTP__HOST:-localhost}"
      - "NUMBAT__BEAVER__HTTP__PATH=${NUMBAT__BEAVER__HTTP__PATH:-}"
      - "NUMBAT__BEAVER__HTTP__PORT=${NUMBAT__BEAVER__HTTP__PORT:-10500}"
      - "NUMBAT__BEAVER__HTTP__SCHEME=${NUMBAT__BEAVER__HTTP__SCHEME:-http}"
      - "NUMBAT__DEBUG=${NUMBAT__DEBUG:-true}"
      - "NUMBAT__SERVER__HOST=${NUMBAT__SERVER__HOST:-0.0.0.0}"
      - "NUMBAT__SERVER__PORT=${NUMBAT__SERVER__PORT:-10600}"
      - "NUMBAT__SERVER__TRUSTED=${NUMBAT__SERVER__TRUSTED:-*}"
    network_mode: host
